body {
    padding: 20px;
}

* {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Monserrat", sans-serif;
}

#menu {
    display: flex;
}

#menu li {
    padding: 10px;
    cursor: pointer;
}