* {
    margin : 0px;
    padding : 0px;
}

.menu {
    width:100%;
    text-align:center;
    position: fixed;
    background-image: linear-gradient(to right bottom, #d726fd, #e561fc, #f08afc, #f8affc, #fdd3fd);
}

.menu li {
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
    padding: 14px 16px;
    margin-left: 8%;
    text-decoration: none;
    font-size: 17px;
}

